[http.services]
  [http.services.nextcloud.loadBalancer]
    [[http.services.nextcloud.loadBalancer.servers]]
      url = "http://nextcloud-web"

[http.routers]
  [http.routers.https-nextcloud-router]
    rule = "Host(`nextcloud.local`)"
    service = "nextcloud"
    [http.routers.https-nextcloud-router.tls]
      certResolver = "myresolver"