tunnel: {{ TUNNEL_ID }}
credentials-file: {{ lookup('env','HOME') }}/.cloudflared/{{ TUNNEL_CREDENTIALS_FILE }}


ingress:
{% for service in TUNNEL_SERVICES %}
  - hostname: {{ service.hostname }}
    service: http://localhost:{{ service.port }}
{% endfor %}
  - service: http_status:404