homeassistant: true
permit_join: true
frontend:
  # Optional, default 8080
  port: 20000
  # Optional, default 0.0.0.0
  # host: 192.168.1.101
  # Optional, enables authentication, disabled by default
  auth_token: {{ MQTT_PASSWORD }}
advanced:
   ikea_ota_use_test_url: true
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://michael:{{ MQTT_PASSWORD }}@192.168.1.107:1883'
serial:
  port: /dev/ttyACM0
devices:

  # Gang
  '0xcc86ecfffedaf5a2':
    friendly_name: 'gang-sensor'
 
  # Kantoor
  '0x90fd9ffffe526ad9':
    friendly_name: 'kantoor-knop'
  '0xbc026efffec7bdaa':
    friendly_name: 'kantoor-lamp-1'
  '0xbc026efffec83d4a':
    friendly_name: 'kantoor-lamp-2'
  '0x6c5cb1fffe03fe21':
    friendly_name: 'kantoor-lamp-3'

  # Woonkamer
  '0x8cf681fffe44edfb':
    friendly_name: 'woonkamer-knop'
  '0x9035eafffe26cc55':
    friendly_name: 'woonkamer-lamp-3'
  '0x9035eafffe286603':
    friendly_name: 'woonkamer-lamp-3'
  '0x9035eafffe2a4ad6':
    friendly_name: 'woonkamer-lamp-3'
  '0x847127fffeca84ff':
    friendly_name: 'woonkamer-aqi'
  '0x04cd15fffe7f830e':
    friendly_name: 'livarno-los'

  # Slaapkamer
  '0x842e14fffe1a948b'
    friendly_name: 'slaapkamer-knop'
  '0xccccccfffe37b5b1':
    friendly_name: 'slaapkamer-lamp-1'
  '0x842e14fffea67ce0':
    friendly_name: 'slaapkamer-lamp-2'

  # Keuken
  '0xbc33acfffe5e1b36':
    friendly_name: 'keuken-leds'
  '0x9035eafffe26d935':
    friendly_name: 'keuken-lamp-1'
  '0x8cf681fffe6d528e':
    friendly_name: 'keuken-lamp-2'
