homeassistant: true
permit_join: false
frontend:
  # Optional, default 8080
  port: 20000
  # Optional, default 0.0.0.0
  # host: 192.168.1.101
  # Optional, enables authentication, disabled by default
  auth_token: {{ MQTT_PASSWORD }}
advanced:
  ikea_ota_use_test_url: false
  homeassistant_legacy_entity_attributes: false
  homeassistant_legacy_triggers: false
  legacy_api: false
  legacy_availability_payload: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://michael:{{ MQTT_PASSWORD }}@192.168.1.21:1883'
serial:
#  adapter: ember
  port: /dev/ttyUSB0
device_options:
  legacy: false
devices:
  '0x842e14fffe1a948b':
    friendly_name: kantoor-knop
  '0xbc026efffec7bdaa':
    friendly_name: slaapkamer-spot1
  '0xbc026efffec83d4a':
    friendly_name: slaapkamer-spot2
  '0x6c5cb1fffe03fe21':
    friendly_name: slaapkamer-spot3
  '0xb4e3f9fffee16060':
    friendly_name: bureau-lamp
  '0x38398ffffe0fa154':
    friendly_name: server-stekker
  '0x8cf681fffe44edfb':
    friendly_name: woonkamer-knop
  '0x9035eafffe26cc55':
    friendly_name: woonkamer-lamp-1
  '0x9035eafffe286603':
    friendly_name: woonkamer-lamp-2
  '0x9035eafffe2a4ad6':
    friendly_name: woonkamer-lamp-3
  '0x847127fffeca84ff':
    friendly_name: woonkamer-aqi
  '0x04cd15fffe7f830e':
    friendly_name: livarno-los
  '0xa46dd4fffe53e983':
    friendly_name: eettafel-lamp
  '0xbc33acfffe5e1b36':
    friendly_name: woonkamer-leeslamp
  '0x0c4314fffe57f8e2':
    friendly_name: woonkamer-sfeerlamp
  '0xd44867fffe48e21e':
    friendly_name: woonkamer-sensor
  '0x842712fffec87187':
    friendly_name: slaapkamer-knop
  '0x9035eafffe26d935':
    friendly_name: gang-boven-spot1
  '0x8cf681fffe6d528e':
    friendly_name: gang-boven-spot2
  '0x680ae2fffe7940fe':
    friendly_name: keuken-knop
  '0xcc86ecfffedaf5a2':
    friendly_name: gang-sensor
  '0xa4c1384e554f96d7':
    friendly_name: wasmachine-stroom
  '0x540f57fffeecafd0':
    friendly_name: gang-lamp-1
  '0x540f57fffef146d0':
    friendly_name: gang-lamp-2
  '0xbc33acfffe0d3238':
    friendly_name: gang-knop
  '0x680ae2fffe2f342f':
    friendly_name: deur-knop
  '0x54ef441001312be5':
    friendly_name: woonkamer-brandalarm
  '0x54ef44100131725e':
    friendly_name: gangboven-brandalarm
  '0x54ef4410011e1ede':
    friendly_name: keuken-watersensor
  '0x54ef441000efd30c':
    friendly_name: gangboven-watersensor
  '0x001788010fad0e07':
    friendly_name: keuken-spot2
  '0x001788010fa577e9':
    friendly_name: keuken-spot3
  '0x001788010fad0373':
    friendly_name: keuken-spot1
  '0x001788010fad0e18':
    friendly_name: keuken-spot0
  '0x001788010fad0375':
    friendly_name: keuken-spot4
version: 4
groups:
  '10':
    friendly_name: '10'
  '11':
    friendly_name: '11'
  '12':
    friendly_name: '12'
  '13':
    friendly_name: '13'
  '14':
    friendly_name: '14'
