[Unit]
Description=node-red podman container
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a node-red
ExecStop=/usr/bin/podman stop -t 2 node-red
RestartSec=5s

[Install]
WantedBy=multi-user.target